<nav role="navigation">
	<ul>
		{{#foreach navigation}}
		<li>
			<a href="{{url absolute="true"}}" class="design-name">{{label}}</a> {{! by						<a href="http://andrewlohman.com/" class="designer-name">Andrew Lohman</a> }}
		</li>
		{{/foreach}}
	</ul>
</nav>
