{{#post}}
<nav role="navigation">
	<ul>
		{{#next_post}}
		<li class="next">
			<a href="{{url}}">
				Next Post<span class="indicator">&rsaquo;</span>
			</a>
		</li>
		{{/next_post}}

		{{#prev_post}}
		<li class="previous">
			<a href="{{url}}">
				<span class="indicator">&lsaquo;</span>Previous Post
			</a>
		</li>
		{{/prev_post}}

		<li class="viewall">
			<a href="{{author.url}}">
				{{author}}
			</a>
		</li>

	</ul>
</nav>
{{/post}}
